<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<title>{% block title %}{% endblock %}</title>
		{% if "Development" in server %}
			<link rel="stylesheet" type="text/css"
				  href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.css') }}">
		{% else %}
			<link rel="stylesheet" type="text/css"
				  href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
		{% endif %}
		<link rel="stylesheet" type="text/css"
			  href="{{ url_for('static', filename='css/bootstrap/bootstrap-editable.css') }}">
	{% endblock head %}
</head>
<body>
{% block body %}
	{% block content %}{% endblock content %}
	<!-- Le javascript
	    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	{% if "Development" in server %}
		<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-1.8.3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.js') }}"></script>
		<script type="text/javascript"
				src="{{ url_for('static', filename='jlib/bootstrap-editable/js/bootstrap-editable-inline.js') }}"></script>
	{% else %}
		<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-1.8.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
		<script type="text/javascript"
				src="{{ url_for('static', filename='lib/bootstrap-editable/js/bootstrap-editable-inline.min.js') }}"></script>
	{% endif %}
{% endblock body %}
{% block footer %}
	<footer class="footer">
		<div class="container">
			<small class="muted">Version {{ version }} on {{ server }}</small>
		</div>
	</footer>
{% endblock footer %}
</body>
</html>